body{
      overflow : hidden;
}


 .container .image{
     height: 100%;
     width: 100%;
     position: absolute;
     object-fit: cover;
     
 }
 /* .image .imagecontainer img:not(.active){
     left: -100%;
     top: 0%;
 }  */
.dotsContainer .active{
    background-color: rgb(0, 153, 255);
}
/* animation */
 @keyframes next1 {
    from {
        left: 50%;
    }
    to {
        left: -100%;
    }
    
}
@keyframes next2 {
    from {
        left: 100%;
    }
    to {
        left: 50%;
    }
    
}
/* animation */
 @keyframes pre1 {
    from {
        left: 100%;
    }
    to {
        left: 50%;
    }
    
}
@keyframes pre2 {
    from {
        left: 100%;
    }
    to {
        left: 50%;
    }
    
} 